<!DOCTYPE html> 
<html> 

<head> 
<title>Gongwer Election App: Latest Alerts</title> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 	    
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />   
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.4.2.min.js"></script>
<script type="text/javascript" src="cordova.js"></script>

<script type="text/javascript" src="js/moment.js"></script>

<link rel="stylesheet" href="scripts/jquery.mobile-1.4.2.min.css" />
<link rel="stylesheet" type="text/css" href="style.css">

<script type="text/javascript" src="ga.js"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38636805-24']);
    _gaq.push(['_trackPageview', 'analysis-push']);
</script> 

</head> 

<body>

<div data-role="page" style="background-color:#185e93;">

<div id="top_region">
<center><a href="index.html" data-ajax="false" ><img src="images/gongwer-header-logo-mi.png" border="0"></a></center>
</div>

<div data-role="content">	

<br>

<center><script type="text/javascript" src="https://g.adspeed.net/ad.php?do=js&zid=64756&oid=13041&wd=-1&ht=-1&target=_blank"></script></center>

<div class="bar"><center>
<img src="images/icon-push.png">
</center></div>

<br><br>

<div class="contentbox" >

<script>

if (window.XMLHttpRequest) {/* code for IE7+, Firefox, Chrome, Opera, Safari */ xmlhttp=new XMLHttpRequest(); }
else {/* code for IE6, IE5 */ xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"); }
xmlhttp.open("GET","push.xml",false);
xmlhttp.send();
xmlDoc=xmlhttp.responseXML; 

var todaysDate = new Date();
document.write(todaysDate);
document.write("<br><br>");
todaysDate = todaysDate.getTime();
document.write(todaysDate);
document.write("<br><br>");

var x=xmlDoc.getElementsByTagName("push");
for (i=0;i<x.length;i++)
{

	var xmldate = x[i].getElementsByTagName("timestamp")[0].childNodes[0].nodeValue;
	document.write(xmldate);
	document.write("<br><br>");
	
	xmldate = Date.parse(xmldate);
	document.write(xmldate);
	document.write("<br><br>");	
	
	if(xmldate >= todaysDate) {
    	document.write("greater");
		document.write("<br><br>");
		}	
		
	if(xmldate <= todaysDate) {
    	document.write("less");
		document.write("<br><br>");
		}		
		

/*	xmldate = xmldate.toUTCString()
	document.write(xmldate);
	document.write("<br><br>");	
	
	
	
	test 1
	
	var q = new Date();
var m = q.getMonth();
var d = q.getDate();
var y = q.getFullYear();

var date = new Date(y,m,d);

mydate=new Date('2011-04-11');
console.log(date);
console.log(mydate)

if(date>mydate)
{
    alert("greater");
}
else
{
    alert("smaller")
}





test 2

function checkDateInpuWithTodays() {
 //get today's date in string
 var todayDate = new Date();
 //need to add one to get current month as it is start with 0
 var todayMonth = todayDate.getMonth() + 1;
 var todayDay = todayDate.getDate();
 var todayYear = todayDate.getFullYear();
 var todayDateText = todayDay + "/" + todayMonth + "/" + todayYear;
 //
 
//get date input from SharePoint DateTime Control
 var inputDateText = document.getElementById('<%= datepicker.ClientID %>' + '_' + '<%= datepicker.ID %>' + 'Date').value;
 //
 
//Convert both input to date type
 var inputToDate = Date.parse(inputDateText);
 var todayToDate = Date.parse(todayDateText);
 //
 
//compare dates
 if (inputToDate > todayToDate) {alert("the input is later than today");}
 else if (inputToDate < todayToDate) {alert("the input is earlier than today");}
 else {alert("the input is same as today");}
 }
 
 


*/

}

</script>

</div>

</div>

<div id="copyright">Copyright Gongwer News Service, Inc. All Rights Reserved.</div>
	
	<div data-role="footer" class="nav-glyphish-example" data-id="foo1" data-position="fixed" >
		<div data-role="navbar" class="nav-glyphish-example" data-grid="d">
		<center><ul>
			<li><a href="index.html" id="home" data-icon="custom" data-ajax="false" data-theme="b">Home</a></li>
			<li><a href="contact.html" id="email" data-icon="custom" data-ajax="false" data-theme="b">Contact</a></li>
			<li><a href="about.html" id="about" data-icon="custom" data-ajax="false" data-theme="b">About</a></li>            
			<li><a href="search.html" id="search" data-icon="custom" data-ajax="false" data-theme="b">Search</a></li>
			<li><a href="social.html" id="social" data-icon="custom" data-ajax="false" data-theme="b">Social</a></li>
   		</ul></center>
		</div>                
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>
